/* For desktop - Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
  * {
    font-size: 14.5px;
  }
  /********************************************************* Header ******************************************************/

  /* Nav .main-navbar */
  .main-navbar {
    max-width: 100%;
  }

  /* Nav ul */
  .main-nav {
    /* display: flex; */
    justify-content: flex-end;
  }
  /* .main-nav li {
        color: black;
        margin-right: 0px;
    } */

  ul.main-nav a:focus {
    border-top: #0065fc solid 2px;
    padding-top: 22px;
  }

  li.log-in {
    font-weight: bold;
    color: #0065fc;
  }

  /********************************************************* Main ******************************************************/
   /* section search-city*/
  .presentation {
    /* padding: 0; */
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .presentation h1 {
    margin-bottom: 10px;
  }

  .presentation p {
    margin-bottom: 2opx;
  }

  .searchbar {
    max-width: 420px;
    padding-left: 0px;
  }

  .search {
    display: contents;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .fa-search {
    display: none;
  }

  .btnsearch {
    border-radius: 0px 15px 15px 0px;
  }

  section.search-city {
    padding-left: 40px;
  }

  /*Section Filters*/
  
  .search-filters {
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .filter-title {
    padding-right: 35px;
  }

  .filter,
  .button-filter {
    font-size: 1.2rem;
    margin-right: 25px;
  }

  .filter1,
  .button-filter1 {
    width: 195px;
  }

  .filter2,
  .button-filter2 {
    width: 150px;
  }

  .filter3,
  .button-filter3 {
    width: 185px;
  }

  .filter4,
  .button-filter4 {
    width: 240px;
  }

  /*Double container - Most Popular + Lodgings*/
  /********************************************************* Main ******************************************************/

  .double-container {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
  }

  .popular-gallery,
  .lodgings-gallery {
    border-radius: 20px;
  }

  /*Section Most popular*/
  /********************************************************* Main ******************************************************/
  .popular-gallery {
    width: 27%;
    padding-right: 30px;
  }

  .popular-card-wrapping {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .popular-card-title {
    font-size: 15px;
  }

  .popular-card-information p {
    font-size: 14px;
  }

  /*Section Lodgings*/
  /********************************************************* Main ******************************************************/

  .lodgings-gallery {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    width: 67%;
    margin-top: 0;
  }

  .container-lodgings {
    display: flex;
    flex-wrap: wrap;
  }

  .lodgings-card-wrapping {
    height: 100%;
    width: 236px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .lodgings-card-img {
    margin: 0;
  }

  .lodgings-card-information {
    padding-bottom: 0;
    bottom: 0;
  }

  .lodgings-card-information h3 {
    font-size: 15px;
  }

  .lodgings-card-information p {
    font-size: 14px;
  }

  .fas.fa-star {
    font-size: 11px;
  }

  p.more {
    padding-bottom: 40px;
  }

  /********************************************************* Main ******************************************************/
    /*Section Activities*/

  .activities-gallery {
    margin-bottom: 30px;
  }

  h2#activities {
    margin-left: 50px;
    margin-bottom: 5px;
  }

  .container-activities {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    height: 490px;
  }

  .activities-card-wrapping {
    height: 450px;
    max-width: 300px;
    width: 100%;
    margin-right: 26px;
  }
  .activities-card-img {
    margin: 0;
  }

  .activities-card1,
  .activities-img1 {
    height: 440px;
  }
  .activities-card2,
  .activities-img2 {
    height: 230px;
  }
  .activities-card3,
  .activities-img3 {
    height: 175px;
  }
  .activities-card4,
  .activities-img4 {
    height: 440px;
  }
  .activities-card5,
  .activities-img5 {
    height: 200px;
  }
  .activities-card6,
  .activities-img6 {
    height: 200px;
  }

  .activities-card-title {
    height: 37px;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0;
  }

  /********************************************************* Footer *****************************************************/
  footer {
    margin-top: 20px;
    /*padding-left: 20%;
        padding-right: 20%;*/
  }
  .nav-footer {
    display: flex;
    justify-content: start;
  }
  .nav-footer section {
    padding-left: 50px;
    padding-right: 200px;
  }
}
