/* For desktop - Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1024px) {
    
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    * {
        font-size: 12px;
    }

    /********************************************************* Header ******************************************************/
    
    header {
        padding-top: 0;
    }

    .main-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
        /* align-items: center;*/
        justify-content: center; 
        order: 2;
        width: 400px;
    }

    .brand-logo {
        order: 1;
        padding-top: 30px;
    }

    .sign-up {
        position: ;
        font-weight: bold;
        color: #0065fc;
        position: static;
    }

    .link1,
    .link2,
    .link3 {
    border-top: #F2F2F2 3px solid;
    border-bottom: none;
    padding-top: 30px;
    width: 34%;
    text-align: center;
}
            
    /********************************************************* Main ******************************************************/
    /* section search-city*/
    .presentation {
        padding: 0;
        padding-bottom: px;
    }

    .presentation h1 {
        margin-Bottom: 10px;
    }

    .presentation p {
        margin-bottom: 2Opx;
    }

    .searchbar {
        max-width: 420px;
    }

    .search {
        display: contents;
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .fa-search {
        display: none;
    }

    .btnsearch {
        border-radius: 0px 15px 15px 0px;
    }

            /*Section Filters*/
    /********************************************************* Main ******************************************************/

    .search-filters {
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .filter-title {
        padding-right: 20px;
        padding-left: 0px;
    }

    .filter,
    .button-filter {
        font-size: 1.2rem;
        margin-right: 25px;
    }

    .filter1,
    .button-filter1 {
        width: 195px;
    }

    .filter2,
    .button-filter2 {
        width: 150px;
    }

    .filter3,
    .button-filter3 {
        width: 185px;
    }

    .filter4,
    .button-filter4 {
        width: 240px;
    }


            /*Double container - Most Popular + Lodgings*/
    /********************************************************* Main ******************************************************/

    .double-container {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .popular-gallery,
    .lodgings-gallery {
        border-radius: 20px;
    }

            /*Section Most popular*/
    /********************************************************* Main ******************************************************/
    .popular-gallery {
        width: 30%;
        margin-top: 0;
        margin-left: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
    }

    .popular-card-wrapping{
        margin-bottom: 20px;
        height: 100px;
        width: 250px;
        max-width: 100%;
        margin: 15px;
    }

    .popular-card-title {
        font-size: 12px;
    }

    .popular-card-information p {
        font-size: 11px;
        padding-bottom: 30px;
    }
    .popular-card-information {
        padding-left: 12px;
    }

            /*Section Lodgings*/
    /********************************************************* Main ******************************************************/

    .lodgings-gallery {
        background-color: #F2F2F2;
        padding-top: 20px;
        padding-left: 30px;
        /* padding-right: 20px; */
        width: 69%;
        margin-top: 0;
    }

    .container-lodgings {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .lodgings-card-wrapping {
        height: 130px;
        width: 170px;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .lodgings-card-img {
        margin: 0;
        /*width: 280px;*/
        width: 100%;
        height: 100px;
    }
    .lodgings-card-title {
        font-size: 12px;
        margin: 0%;
        padding-bottom: 5px;
    }
    .lodgings-card-information p {
        font-size: 11px;
    }
    .lodgings-card-information {
        padding-left: 8px;
        bottom: 26px;
    }

    .fas.fa-star {
        font-size: 9px;
    }

    p.more {
        margin-top: 10px;
    }
    p.more p{
        font-size: 10px;
    }
            /*Section Activities*/
    /********************************************************* Main ******************************************************/

    .activities-gallery {
        margin-bottom: 25px;
    }

    h2#activities {
        margin-left: 50px;
        margin-bottom: 5px;
    }

    .container-activities {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: 15px;
        height: 380px;
        width: 85%;
    }
    
    .activities-card-wrapping {
        height: 100%;
        max-width: 25%;
        width: 100%;
        margin: 15px;
        
    }
    .activities-card-img {
        margin: 0;
    }

    .activities-card1,
    .activities-img1 {
        height: 350px;
        width: 100%;
    }
    .activities-card2,
    .activities-img2 {
        height: 180px;
    }
    .activities-card3,
    .activities-img3 {
        height: 135px;
    }
    .activities-card4,
    .activities-img4 {
        height: 350px;
    }
    .activities-card5,
    .activities-img5 {
        height: 155px;
    }
    .activities-card6,
    .activities-img6 {
        height: 155px;
    }

    .activities-card-title {
        height: 37px;
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 0;
        margin: 0;
        font-size: 1.1rem;
    }
    
        /*footer*/
    /********************************************************* Footer *****************************************************/
    footer {
        margin-top: 20px;
        /*padding-left: 20%;
        padding-right: 20%;*/
    }
    .nav-footer {
        display: flex;
        justify-content: start;

    }
    .nav-footer section {
        padding-right: 90px;
    }

    footer h2 {
        font-size: 1.1rem;
    }

    footer li {
        font-size: 1rem;
    }

}
