/* For desktop - Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 992px) and (max-width: 1400px){
    *{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    header, main {
        
        padding-left: 20%;
    }
    /* Nav .main-navbar */
    .main-navbar{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
        /* searchbar */
    .btnsearch {
        /*float: right;*/
    }
        /* Nav ul */
    ul.main-nav {
        display: flex;
        justify-content: flex-end;
    }
    ul.main-nav li {
        color: black;
        margin-left: 20px;
        margin-right: 0px;
    }

    ul.main-nav a{
        padding-left: 25px;
        padding-right: 25px;
    }


    ul.main-nav a:focus {
        border-top: #0065fc solid 2px;
        padding-top: 22px;
    }

    li.log-in{
        font-weight: bold;
        color: #0065fc;
    }
    /* section search-city*/
    .search {
        display: contents;
        color: #FFFFFF;
    }
    .fa-search {
        display: none;
    }
    .btnsearch {
        border-radius: 0px 15px 15px 0px;
    }
    /*Section Activities*/
    .container-activities {
        display: grid;
        
    }

    /*footer*/
    footer {
        padding-left: 20%;
        padding-right: 20%;
    }
    .nav-footer {
        display: flex;
    }
    .nav-footer section {
        padding-right: 100px;
    }

}



/********************************************************* Main ******************************************************/




/*  */



/*  */


/*  */


/*  */



/********************************************************* Footer *****************************************************/
