/* For tablet - Medium devices (large laptops and desktops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /*header*/
    .main-navbar{
        padding-top: 10px;
       /* max-width: 100%;
        display: flex;
        justify-content: space-between;*/
    }
    .brand-logo {
        margin-left: 20px;
    }
    .sign-up {
        position: absolute;
        right: 20px;
        top: 50px;
        padding-right: 10px;
    }
    /* Main */

    /* section search-city */
    .presentation {
       padding: 0;
       padding-bottom: 20px;
       margin-left: 30px;
    }

    .searchbar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .city {
        width: 80%;
        max-width: 480px;
    }

    span.search {
        display: contents;
        color: #FFFFFF;
    }
    .fa-search {
        display: none;
    }
    .btnsearch {
        border-radius: 0px 15px 15px 0px;
    }
    
    /* section search filters */
    .search-filters {
        margin-left: 20px;
    }
    .filter-title {
        margin-left: 10px;
    }
    .filters {
        margin-left: 50px;
    }
    .filter {
        margin-right: 50px;
        margin-bottom: 30px;
    }
    
    /*section popular*/
    .bloc-popular-title {
        /*padding-left: 0;
        padding-right: 0;*/
        justify-content: initial;
    }
    .bloc-popular-title h2 {
        margin-left: 25px;
    }
    .bloc-popular-title p {
        margin-right: 25px;
        margin-left: auto;
    }
    /*sections containers*/
    .container-popular, .container-lodgings, .container-activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .popular-card-wrapping, .lodgings-card-wrapping, .activities-card-wrapping {
        width: 330px;
        margin: 20px;
    }
    /*footer*/
    .nav-footer {
        display: flex;
        justify-content: space-around;
    }
    footer section {
        padding-left: 0px;
    }
}