/*  Font:   Raleway
    Color:  blue: #0065FC 
            blue-light: #DEEBFF
            white: #FFFFFF
            Grey-light: #F2F2F2

    SMACSS: Base
            Layout
            Module
            State
            Theme
*/

/* BASE */

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    font-size: 12px;
}

body {
    background-color: #ffffff;
    width: auto;
}

h1,
h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.3;
}

P {
    font-weight: 500;
    font-size: 1rem;

}

a {
    font-size:1.1rem;
    text-decoration: none;
    color: #000000;
}

li {
    text-decoration: none;
    list-style-type: none;
}

/* LAYOUT */

header {
    
}

nav {
    width: 100%;
    display: flex;
    
}

ul{
    flex-flow: row-reverse wrap-reverse;

}

.main-nav li:nth-child(3) {
    order: 1;
    
    
}

main {

}

footer {
    background: #F2F2F2 ;
}

    
}


h2.filter-title {
    font-size: 1.2rem;
}


.fa-info {
    height: 22px;
    width: 22px;
    color: #0065FC;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    align-items: center;
    padding-top: 5px;
    margin-right: 10px;
    border-radius: 50%
}








.main-nav{
    display: flex;

}

a a:visited {
    color: #0065FC 
}

